.game {
    width: 600px;
    margin: 0 auto;
    margin-top: 10%;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.square {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    float: left;
    font-size: 26px;
}

.game-board {
    float: left;
}

.game-info {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}

.winner {
    color: white;
    background: black;
    border: 0;
  }